/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

/*nav-bar*/
.nav {
    height: 80px;
    background-color: lightskyblue;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    width: 970px;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    list-style-type: none;
    width: 400px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*main content*/
.main-content-container {
    width: 970px;
    margin: auto;
}

.main-content-header {
    width: 970px;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.weather-entry-container {
    width: 970px;
    height: 350px;

    display: flex;
    justify-content: space-between;
}

.weather-entry-container img {
    width: 200px;
    height: 200px;
    margin: 15px;
    border-radius: 100px;
}

.weather-entry {
    background-color: whitesmoke;
    height: 370px;
    text-align: center;
    padding-top: 10px;
}

.temp {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.high-temp {
    color: red;
    font-size: 20px;
    font-weight: bolder;
}

.low-temp {
    color:blue;
    font-size: 20px;
    font-weight: bolder;
}

.high-temp::after, .low-temp::after {
    content: "°";
}

/*cookie policy*/
.cookie-policy-container {
    border: 3px solid black;
    background-color: whitesmoke;
    height: 100px;
    position: fixed;
    bottom: 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cookie-policy img{
    height: 50px;
    width: 50px;
    margin: 10px;
}

.cookie-policy-text {
    width: 800px;
    height: 80px;
    font-size: 15px;
}

.cookie-policy-container button {
    margin: 10px;
    padding: 10px;
    background-color: lightskyblue;
    box-shadow: 3px 3px 3px black;
}